/* font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif; */
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
header{
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
}

header > * {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 0px;
    right: 0px;
}

header .welcome{
   top: 10%;
   left: 5%;
   right: 5%;


   
}
header div {
  
    font-family: 'Saira Condensed', sans-serif;
    color: white; 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    
}

header div h1 {
    font-size: 20px;
}
    
header div h2 {
    font-size: 20px;
    /* font-family: 'Saira', sans-serif; */
    font-weight: 21px;
    
}
    

section {
    min-height: 100vh;
}